# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PHP
/vendor/
.env
*.log
composer.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

*.docx
*.pdf
!README.md

# Логи
logs/
*.log